
  /* Style the form container */
  .Form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the form labels */
  Form.Label {
    font-weight: bold;
  }
  
  /* Style the form inputs */
  Form.Control {
    margin-bottom: 10px;
  }
  
  /* Style the submit button */
  Button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  Button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  .container-login{
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-image: url('https://images.unsplash.com/photo-1508060793788-7d5f1c40c4ba?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Njh8fGUlMjBib29rfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
    background-repeat: no-repeat;
    background-size: cover;
    height: 707px;
    color: white;
  }